In [14]:
# Dependencies
import pandas as pd
from pathlib import Path
import matplotlib as plt

In [15]:
# Save path to the data set as a variable.
immigration_file_path = Path("Resources/change-in-the-number-of-international-immigrants-in-the-previous-five-years.csv")
immigration_df = pd.read_csv(immigration_file_path)

In [13]:
immigration_df.head()

,Entity,Year,Change in the number of international immigrants in the previous five years
0,Afghanistan,1995,13836
1,Afghanistan,2000,4395
2,Afghanistan,2005,11397
3,Afghanistan,2010,14962
4,Afghanistan,2015,237156

In [16]:
immigration_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1653 entries, 0 to 1652
Data columns (total 3 columns):
 #   Column                                                                       Non-Null Count  Dtype
---  ------                                                                       --------------  -----
 0   Entity                                                                       1653 non-null   object
 1   Year                                                                         1653 non-null   int64
 2   Change in the number of international immigrants in the previous five years  1653 non-null   int64
dtypes: int64(2), object(1)
memory usage: 38.9+ KB

In [17]:
# Rename column for immigration numbers
immigration_df = immigration_df.rename(columns={'Entity':'Country', 'Change in the number of international immigrants in the previous five years':'Immigrants'})
immigration_df.head()

       Country  Year  Immigrants
0  Afghanistan  1995       13836
1  Afghanistan  2000        4395
2  Afghanistan  2005       11397
3  Afghanistan  2010       14962
4  Afghanistan  2015      237156

In [19]:
immigration_df['Year'].unique()

array([1995, 2000, 2005, 2010, 2015, 2020], dtype=int64)

In [21]:
# Save path to the data set as a variable.
deaths_file_path = Path("Resources/deaths-in-armed-conflicts-based-on-where-they-occurred.csv")
deaths_df = pd.read_csv(deaths_file_path)
deaths_df.head()

,Entity,Year,Deaths in ongoing conflicts in a country (best estimate) - Conflict type: all
0,Abkhazia,1989,0
1,Abkhazia,1990,0
2,Abkhazia,1991,0
3,Abkhazia,1992,0
4,Abkhazia,1993,0

In [23]:
# Rename column for immigration numbers
deaths_df = deaths_df.rename(columns={'Entity':'Country', 'Deaths in ongoing conflicts in a country (best estimate) - Conflict type: all':'Deaths'})
deaths_df.head()

    Country  Year  Deaths
0  Abkhazia  1989       0
1  Abkhazia  1990       0
2  Abkhazia  1991       0
3  Abkhazia  1992       0
4  Abkhazia  1993       0

In [24]:
deaths_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7175 entries, 0 to 7174
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  7175 non-null   object
 1   Year     7175 non-null   int64
 2   Deaths   7175 non-null   int64
dtypes: int64(2), object(1)
memory usage: 168.3+ KB

In [25]:
gini_file_path = Path("Resources/gini-coefficient.csv")
gini_df = pd.read_csv(gini_file_path)
gini_df.head()

,Country,Year,Gini coefficient (before tax) (World Inequality Database)
0,Afghanistan,1980,NaN
1,Afghanistan,1981,NaN
2,Afghanistan,1982,NaN
3,Afghanistan,1983,NaN
4,Afghanistan,1984,NaN

In [26]:
gini_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9710 entries, 0 to 9709
Data columns (total 3 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Country                                                    9710 non-null   object
 1   Year                                                       9710 non-null   int64
 2   Gini coefficient (before tax) (World Inequality Database)  4534 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 227.7+ KB

In [27]:
net_migration_file_path = Path("Resources/net-migration.csv")
net_migration_df = pd.read_csv(net_migration_file_path)
net_migration_df.head()

        Entity  Year  Net migration - Sex: all - Age: all - Variant: medium
0  Afghanistan  1950                                             6161.0
1  Afghanistan  1951                                             4903.0
2  Afghanistan  1952                                              145.0
3  Afghanistan  1953                                            -8867.0
4  Afghanistan  1954                                            -6837.0

In [28]:
# Rename column for net migration
net_migration_df = net_migration_df.rename(columns={'Entity':'Country', 'Net migration - Sex: all - Age: all - Variant: medium':'Net Migration'})
net_migration_df.head()

       Country  Year  Net Migration
0  Afghanistan  1950         6161.0
1  Afghanistan  1951         4903.0
2  Afghanistan  1952          145.0
3  Afghanistan  1953        -8867.0
4  Afghanistan  1954        -6837.0